.coin-profile-root {
    max-width: 100%;
    min-height: 100vh;
    max-height: max-content;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: #191A26;
}

.coin-profile-sidebar {
    grid-column: 1/2;
    width: 300px;
    background-color: #1C1E32;
    border-radius: 0px 25px 25px 0px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
}

.sidebar-coin-id {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sidebar-profile-photo {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-favorite-stats {
    grid-row: 4/5;
    display: grid;
    grid-column: 1fr 1fr;
    max-height: 400px;
    overflow: scroll;
}

.sidebar-favorite-id {
    display: flex;
    justify-content: flex-start;
    
}

.sidebar-favorite-change {
    display: flex;
    justify-content: flex-start;
}
.coin-profile-main {
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}

.row-1 {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-width: 100%;
}

.coin-hourly-change-card {
    grid-column: 1/2;
    height: 350px;
    width: 350px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3081FF;
    border-radius: 25px;
    box-shadow: 0 0 15px 7px #2258af,  /* inner white */
    0 0 25px 15px #163464, /* middle magenta */
    0 0 35px 23px #0a182e; /* outer cyan */
}

.coin-market-data-card {
    color: white;
    grid-column: 2/3;
    height: 350px;
     width: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #d83e57;
    border-radius: 25px;
    box-shadow: 0 0 15px 7px #b43449,  /* inner white */
    0 0 25px 15px #802635, /* middle magenta */
    0 0 35px 23px #42131b; /* outer cyan */
}

.dev-text {
    font-size: 25px;
}
.row-2 {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    place-items: center;
}

/* .coin-desc-card {
    grid-column: 1/2;
    height: 300px;
    overflow: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
} */

.coin-graph-card {
   grid-column: 1/2;
   height: 450px;
   width: 90%;
   padding: 10px;
}

@media screen and (max-width:2200px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        max-width: 100%;
    }

    .coin-hourly-change-card {
        grid-column: 1/2;
        height: 300px;
        width: 300px;
        display: flex;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .coin-market-data-card {
        color: white;
        grid-column: 2/3;
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .dev-text {
        font-size: 20px;
    }
    .row-2 {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        place-items: center;
    }
    /* .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    } */

    .coin-graph-card {
        grid-column: 1/2;
        height: 450px;
        width: 90%;
        padding: 10px;
    }   
}

@media screen and (max-width:1850px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        max-width: 100%;
    }

    .coin-hourly-change-card {
        grid-column: 1/2;
        height: 250px;
        width: 250px;
        min-width: max-content;
        display: flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .coin-market-data-card {
        color: white;
        grid-column: 2/3;
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .dev-text {
        font-size: 18px;
    }
    .row-2 {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        place-items: center;
    }
    /* .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    } */

    .coin-graph-card {
        grid-column: 1/2;
        height: 450px;
        width: 90%;
        padding: 10px;
    }   
}

@media screen and (max-width:1650px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        max-width: 100%;
    }

    .coin-hourly-change-card {
        grid-column: 1/2;
        height: 250px;
        width: 250px;
        min-width: max-content;
        display: flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .coin-market-data-card {
        color: white;
        grid-column: 2/3;
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .dev-text {
        font-size: 18px;
    }
    .row-2 {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        place-items: center;
    }
    /* .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    } */

    .coin-graph-card {
        grid-column: 1/2;
        height: 450px;
        width: 90%;
        padding: 10px;
    }   
}