.coin-profile-root {
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: #191A26;
}

.coin-profile-sidebar {
    grid-column: 1/2;
    width: 300px;
    max-height: 100vh;
    background-color: #1C1E32;
    border-radius: 0px 25px 25px 0px;
    display: grid;
    grid-template-rows: 1fr 0.2fr 0.3fr 0.4fr 1fr;
    overflow: auto;
}

.sidebar-coin-id {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-and-favorited{
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.sidebar-search {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-profile-photo {
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-favorite-stats {
    grid-row: 5/6;
    display: grid;
    grid-column: 1fr 1fr;
    max-height: 400px;
    overflow: auto;
}

.sidebar-favorite-id {
    display: flex;
    justify-content: flex-start;
    
}

.sidebar-favorite-change {
    display: flex;
    justify-content: flex-start;
}
.coin-profile-main {
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    overflow: auto;
}

.row-1 {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-width: 100%;
}

.coin-hourly-change-card {
    grid-column: 1/2;
    height: 350px;
    width: 350px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3081FF;
    border-radius: 25px;
    box-shadow: 0 0 15px 7px #2258af,  /* inner white */
    0 0 25px 15px #163464, /* middle magenta */
    0 0 35px 23px #0a182e; /* outer cyan */
}

.market-data-cards {
    padding: 25px 0px 25px 0px;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-template-rows: 1fr 1fr 1fr;
}
.coin-market-data-card-1 {
    color: white;
    grid-row: 1/2;
    height: 90px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #2A9D8F;
    border-radius: 25px;
    box-shadow: 0 0 8px 3.5px #2A9D8F,  
    0 0 12px 7px #1d6d64,
    0 0 18px 11px #16524b;
}

.coin-market-data-card-2 {
    color: white;
    margin-top: 20px;
    grid-row: 2/3;
    height: 90px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #DF2935;
    border-radius: 25px;
    box-shadow: 0 0 8px 3.5px #DF2935,  
    0 0 12px 7px #a11e26,
    0 0 18px 11px #661319; 
}

.coin-market-data-card-3 {
    color: white;
    margin-top: 25px;
    grid-row: 3/4;
    height: 90px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #074674;
    border-radius: 25px;
    box-shadow: 0 0 8px 3.5px #074674,  
    0 0 12px 7px #032944,
    0 0 18px 11px #021a2b; 
}

.dev-text {
    font-size: 20px;
}
.row-2 {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    place-items: center;
}

/* .coin-desc-card {
    grid-column: 1/2;
    height: 300px;
    overflow: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
} */

.coin-graph-card {
   grid-column: 1/2;
   height: 450px;
   width: 90%;
   padding: 10px;
   /* transform: perspective(1000px) rotateY(-31deg) rotateX(3deg) translateY(0) translateX(0); */
}

@media screen and (max-width:2200px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        max-width: 100%;
    }

    .coin-hourly-change-card {
        grid-column: 1/2;
        height: 300px;
        width: 300px;
        display: flex;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .market-data-cards {
        padding: 50px 0px 50px 0px;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        grid-column: 2/3;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .coin-market-data-card-1 {
        color: white;
        grid-row: 1/2;
        height: 70px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #2A9D8F;
        border-radius: 25px;
        box-shadow: 0 0 8px 3.5px #2A9D8F,  
        0 0 12px 7px #1d6d64,
        0 0 18px 11px #16524b; 
    }

    .coin-market-data-card-2 {
        color: white;
    
        grid-row: 2/3;
        height: 70px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #DF2935;
        border-radius: 25px;
        box-shadow: 0 0 8px 3.5px #DF2935,  
        0 0 12px 7px #a11e26,
        0 0 18px 11px #661319; 
    }

    .coin-market-data-card-3 {
        color: white;
    
        grid-row: 3/4;
        height: 70px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #074674;
        border-radius: 25px;
        box-shadow: 0 0 8px 3.5px #074674,  
        0 0 12px 7px #032944,
        0 0 18px 11px #021a2b; 
    }

    .dev-text {
        font-size: 17px;
    }
    .row-2 {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        place-items: center;
    }
    /* .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    } */

    .coin-graph-card {
        grid-column: 1/2;
        height: 450px;
        width: 90%;
        padding: 10px;
    }   
}

@media screen and (max-width:1850px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        max-width: 100%;
        
    }

    .coin-hourly-change-card {
        grid-column: 1/2;
        height: 250px;
        width: 250px;
        min-width: max-content;
        display: flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .market-data-cards {
        padding: 70px 0px 70px 0px;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        grid-column: 2/3;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .coin-market-data-card-1 {
        color: white;
        grid-row: 1/2;
        height: 55px;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #2A9D8F;
        border-radius: 25px;
        box-shadow: 0 0 8px 3.5px #2A9D8F,  
        0 0 12px 7px #1d6d64,
        0 0 18px 11px #16524b; 
    }

    .coin-market-data-card-2 {
        color: white;
    
        grid-row: 2/3;
        height: 55px;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #DF2935;
        border-radius: 25px;
        box-shadow: 0 0 8px 3.5px #DF2935,  
        0 0 12px 7px #a11e26,
        0 0 18px 11px #661319; 
    }

    .coin-market-data-card-3 {
        color: white;
    
        grid-row: 3/4;
        height: 55px;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #074674;
        border-radius: 25px;
        box-shadow: 0 0 8px 3.5px #074674,  
        0 0 12px 7px #032944,
        0 0 18px 11px #021a2b; 
    }

    .dev-text {
        font-size: 15px;
    }
    .row-2 {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        place-items: center;
    }
    /* .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    } */

    .coin-graph-card {
        grid-column: 1/2;
        height: 450px;
        width: 90%;
        padding: 10px;
    }   
}

@media screen and (max-width:1650px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        max-width: 100%;
    }

    .coin-hourly-change-card {
        grid-column: 1/2;
        height: 250px;
        width: 250px;
        min-width: max-content;
        display: flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .coin-market-data-card {
        color: white;
        grid-column: 2/3;
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        word-wrap: break-word;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .row-2 {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        place-items: center;
    }
    /* .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    } */

    .coin-graph-card {
        grid-column: 1/2;
        height: 450px;
        width: 90%;
        padding: 10px;
    }   
}