.coin-profile-root {
    max-width: 100%;
    min-height: 100vh;
    max-height: max-content;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: #191A26;
}

.coin-profile-sidebar {
    grid-column: 1/2;
    width: 300px;
    background-color: #1C1E32;
    border-radius: 0px 25px 25px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.sidebar-profile-photo {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.coin-profile-main {
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}

.row-1 {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: 100%;
    place-items: center;
}
.coin-id-card {
    grid-column: 1/2;
    height: 350px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    margin-left: 0px;
    box-shadow: 0 0 15px 7px rgb(187, 186, 186), 
    0 0 25px 15px rgb(156, 156, 156), 
    0 0 35px 23px rgb(117, 117, 117);
}

.coin-hourly-change-card {
    grid-column: 2/3;
    height: 350px;
    width: 70%;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3081FF;
    border-radius: 25px;
    box-shadow: 0 0 15px 7px #2258af,  /* inner white */
    0 0 25px 15px #163464, /* middle magenta */
    0 0 35px 23px #0a182e; /* outer cyan */
}

.coin-market-data-card {
    color: white;
    grid-column: 3/4;
    height: 350px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #d83e57;
    border-radius: 25px;
    box-shadow: 0 0 15px 7px #b43449,  /* inner white */
    0 0 25px 15px #802635, /* middle magenta */
   0 0 35px 23px #42131b; /* outer cyan */
}

.coin-dev-data-card {
    color: white;
    grid-column: 4/5;
    height: 350px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d83e57;
    border-radius: 25px;
    box-shadow: 0 0 15px 7px #b43449,  /* inner white */
    0 0 25px 15px #802635, /* middle magenta */
    0 0 35px 23px #42131b; /* outer cyan */
}

.dev-text {
    font-size: 20px;
}
.row-2 {
    max-width: 100%;
    grid-row: 2/3;
    display: grid;
    /* flex-direction: column;
    max-height: min-content;
    grid-auto-rows: minmax(min-content, max-content); */
    grid-template-columns: 1fr 1fr;
}
.coin-desc-card {
    grid-column: 1/2;
    height: 300px;
    overflow: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.row-3 {
    grid-row: 3/4;
}

.coin-graph-card {
    grid-column: 2/3;
   height: 350px;
}

@media screen and (max-width:2200px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 100%;
        grid-column-gap: 10px;
        place-items: center;
    }
    .coin-id-card {
        grid-column: 1/2;
        height: 300px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
        font-weight: bold;
        background-color: white;
        border-radius: 25px;
        margin-left: 0px;
        box-shadow: 0 0 15px 7px rgb(187, 186, 186),  /* inner white */
        0 0 25px 15px rgb(156, 156, 156), /* middle magenta */
        0 0 35px 23px rgb(117, 117, 117); /* outer cyan */
    }

    .id-image {
        height:200px;
        width: 200px;
    }

    .coin-hourly-change-card {
        grid-column: 2/3;
        width: 70%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 40px;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .coin-market-data-card {
        color: white;
        grid-column: 3/4;
        height: 300px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
    0 0 35px 23px #42131b; /* outer cyan */
    }

    .coin-dev-data-card {
        color: white;
        grid-column: 4/5;
        height: 300px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .dev-text {
        font-size: 15px;
    }
    .row-2 {
        max-width: 100%;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
    .coin-desc-card {
        grid-column: 1/2;
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    }

    .coin-graph-card {
        grid-column: 2/3;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 100%;
        height: 300px;
    }   
}

@media screen and (max-width:1850px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 100%;
        grid-column-gap: 10px;
        place-items: center;
    }
    .coin-id-card {
        grid-column: 1/2;
        height: 250px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 25px;
        margin-left: 0px;
        box-shadow: 0 0 15px 7px rgb(187, 186, 186),  /* inner white */
        0 0 25px 15px rgb(156, 156, 156), /* middle magenta */
        0 0 35px 23px rgb(117, 117, 117); /* outer cyan */
    }

    .id-image {
        height: 150px;
        width: 150px;
    }
    .coin-hourly-change-card {
        grid-column: 2/3;
        width: 70%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    .coin-market-data-card {
        color: white;
        grid-column: 3/4;
        height: 250px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
    0 0 35px 23px #42131b; /* outer cyan */
    }

    .coin-dev-data-card {
        color: white;
        grid-column: 4/5;
        height: 250px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .dev-text {
        font-size: 13px;
    }
    .row-2 {
        max-width: 100%;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        max-height: min-content;
        grid-auto-rows: minmax(min-content, max-content);
    }
    .coin-desc-card {
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    }

    .row-3 {
        grid-row: 3/4;
    }

    .coin-graph-card {
        min-height: 500px;
        width: 100%;
        
        /* background-color: red; */
        border-radius: 25px;
    }
}

@media screen and (max-width:1650px) {
    .coin-profile-root {
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        background-color: #191A26;
    }
    .coin-profile-main {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .row-1 {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 100%;
        grid-column-gap: 10px;
        place-items: center;
    }
    .coin-id-card {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 300px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 25px;
        margin-left: 0px;
        box-shadow: 0 0 15px 7px rgb(187, 186, 186),  /* inner white */
        0 0 25px 15px rgb(156, 156, 156), /* middle magenta */
        0 0 35px 23px rgb(117, 117, 117); /* outer cyan */
    }

    .coin-hourly-change-card {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 300px;
        width: 60%;
        display: flex;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3081FF;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #2258af,  /* inner white */
        0 0 25px 15px #163464, /* middle magenta */
        0 0 35px 23px #0a182e; /* outer cyan */
    }

    
    .coin-market-data-card {
        color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        height: 300px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
    0 0 35px 23px #42131b; /* outer cyan */
    }

    .coin-dev-data-card {
        color: white;
        grid-column: 2/3;
        grid-row: 2/3;
        height: 300px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #d83e57;
        border-radius: 25px;
        box-shadow: 0 0 15px 7px #b43449,  /* inner white */
        0 0 25px 15px #802635, /* middle magenta */
        0 0 35px 23px #42131b; /* outer cyan */
    }

    .dev-text {
        font-size: 20px;
    }
    .row-2 {
        max-width: 100%;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        max-height: min-content;
        grid-auto-rows: minmax(min-content, max-content);
    }
    .coin-desc-card {
        min-height: 150px;
        height: min-content;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    }

    .row-3 {
        grid-row: 3/4;
    }

    .coin-graph-card {
        min-height: 500px;
        width: 100%;
        
        /* background-color: red; */
        border-radius: 25px;
    }
}