body {
    font-family: "Lucida Console", "Courier New", monospace;
}
/* body {
    padding: 5px 30px 5px 30px;
} */
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    /* padding: 5px 30px 5px 30px; */
}

.header-main {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #86A873;
    margin: 5px;
    border-radius: 10px;
}

.column-1 {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    height: 100px;
    width: 350px;
}
.column-2 {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .col-3-1 {
    grid-column: 1 / 2;
    width: 50px;
    display: flex;
}

.col-3-2 {
    grid-column: 2 / 3;
    display: flex;
} */

.icons {
    height: 40px;
}