.landing-main {
    width: 100%;
    height: 100vh;
    background-color: #86A873;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.landing-col-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.landing-button-coin {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landing-button-google {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landing-button-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-button-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-col-3 {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.landing-lizard {
    transform: rotate(45deg);
    height: 300px;
    width: 300px;
}

.btn {
    width: 150px;
    height: 60px;
	display: flex;
    justify-content: center;
    align-items: center;
	background: var(--primary-color);
	color: #fff;
	border: solid #fff 1px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(0.98);
}
